<ion-header>
  <ion-toolbar>
    <ion-buttons><ion-icon name="arrow-back-outline" size="large" (click)="navigateToProducts()"></ion-icon></ion-buttons>
    
    <ion-title>{{productDetailConstants.TITLE_TEXT}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="product">
    <ion-card-header>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <img class="product-image" [src]="product.imageSrc ? product.imageSrc : environment.defaultImage" alt="Product Image" />
      <br /> <br />
      <p [innerHTML]="product.description"></p>
      <br />
      <p *ngIf="product.discount > 0">
        {{productDetailConstants.DISCOUNTED_PRICE}}{{ calculateDiscountedPrice(product) | currency }}
      </p>
      <p *ngIf="product.discount > 0">
        {{productDetailConstants.ORIGINAL_PRICE}}<span class="original-price">{{ product.price | currency }}</span>
      </p>
      <p *ngIf="product.discount === 0">
        {{productDetailConstants.PRICE}}{{ product.price | currency }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>