<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lown-Fi Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{homeTabConstants.TITLE_TEXT}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>Find Your Perfect Portable Audio Companion</ion-card-title>
    <ion-card-content>
      <img src="../../../../assets/images/lown-fi-home.jpg" />
      <br />
      <br />
      <p>{{homeTabConstants.INTRO_TEXT}}</p>
      <br />
      <p>{{homeTabConstants.INTRO_TEXT_2}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>