<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lown-Fi Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lown-Fi Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>Find Your Perfect Portable Audio Companion</ion-card-title>
    <ion-card-content>
      <img src="../../../../assets/images/lown-fi-home.jpg" />
      <br />
      <br />
      <p>Welcome to Lown-Fi Shop, your premier destination for high-quality portable audio gear! Whether you're a seasoned audiophile or just beginning your journey into the world of high-fidelity sound, we offer a curated selection of digital audio players (DAPs), digital-to-analog converters (DACs), in-ear monitors (IEMs), and headphones. Our mission is to bring you unparalleled audio experiences with top-tier products that cater to your every sonic need. Discover the perfect gear to enhance your music enjoyment and immerse yourself in a world of exceptional sound.</p>
      <br />
      <p>Feel free to browse our product catalog and enjoy shopping at Lown-Fi!</p>
      </ion-card-content>
  </ion-card>
</ion-content>
