<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Product Catalog</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Product Catalog</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="filterProducts()"></ion-searchbar>
  <ion-grid>
    <ion-row *ngIf="products.length">
      <ion-col class="ion-text-center" size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="2"
        *ngFor="let product of filteredProducts">
        <ion-card (click)="viewProductDetail(product)">
          <ion-card-header>
            <ion-card-title>
              <img [src]="product.imageSrc ? product.imageSrc : environment.defaultImage" alt="Product Image" />
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <span class="product-name">{{ product.name }}</span>
            <ng-container *ngIf="product.discount > 0">
                <span class="original-price">{{ product.price | currency }}  </span>
                <span class="discounted-price">{{ calculateDiscountedPrice(product) | currency }}</span>
            </ng-container>
            <ng-container *ngIf="product.discount === 0">
              <span class="price">{{ product.price | currency }}  </span>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="!filteredProducts.length && !error" class="ion-text-center">
        <div>
          No results found based on your search.
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!products.length && !error">
      <ion-col class="ion-text-center">
        <div>
          No products available.
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="error">
      <ion-col class="ion-text-center">
        <div class="error">{{ error }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>